{% extends "admin/commonpageadmin.html" %}
{% load static %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for data in clb %}
  <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <!-- <a href="#" data-toggle="modal" data-target="#myModal"> -->
                <img src="{% if data.images %}{{ data.images.url }}{% endif %}" alt="Generic placeholder image"
                  class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; height: 150px;">
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h4 class="text-capitalize" style="color: red;">{{data.clubname}}</h4>


              </div>
</form>
</div>

<div class="card-body p-4 text-black">
  <div class="mb-5">
    <p class="lead fw-normal mb-1">About</p>
    <div class="p-4" style="background-color: #f8f9fa;">
      <p class="font-italic mb-1">{{data.about}}</p>
      <p class="font-italic mb-1"><strong>Location:</strong> {{data.location}}</p>
      <p class="font-italic mb-1"><strong>Email:</strong> {{data.email}}</p>
      <p class="font-italic mb-1"><strong>Phone:</strong> {{data.phonenumber}}</p>

    </div>
  </div>
  <div class="mb-5">
    <p class="lead fw-normal mb-1">Articles</p>
    <!-- <p class="mb-0"><a href="/postarticle" class="text-muted">post</a></p> -->
    {% for data in artcle %}
    <div class="p-4" style="background-color: #f8f9fa;">
      <a class="font-italic mb-1" href="/articleadmin?id={{data.id}}">{{data.articlename}}</a>

    </div>
    {% endfor %}
  </div>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <p class="lead fw-normal mb-0">Recent photos</p>
    <!-- <p class="mb-0"><a href="/postimage" class="text-muted">post</a></p> -->
  </div>

  <div class="row g-2">
    {% for data in post %}
    <div class="col-md-4">
      <!-- <a href="#" data-toggle="modal" data-target="#myModal"> -->

      <img src="{% if data.images %}{{ data.images.url }}{% endif %}" alt="Image" class="w-100 rounded-3 image-adjust">
    </div>
    {% endfor %}
    {% for data in post %}

    <!-- <div class="flickr-grid">
                  <a href="#" data-toggle="modal" data-target="#myModal">
                      <img src='{% static "images/g9.jpg" %}' class="img-fluid" alt=" ">
                  </a>
                            </div> --><!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="agileits-w3layouts-info">
              <img src="{% if data.images %}{{ data.images.url }}{% endif %}" class="img-fluid" />
              <!-- <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p> -->
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- //Modal -->

    {% endfor %}
  </div>


</div>
</div>
</div>
</div>
</div>
</section>
{% endfor %}
<style>
  .image-adjust {
    width: 200px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */

    margin-bottom: 30px;
  }
</style>
{% endblock %}